
#banner{
    width:100%;
    float:left;
    height:650px;
    text-align:center;
    overflow:hidden;
    position:relative;
}
#banner .swiper-slide{
    width:100%;
    float:left;
    height:650px;
}
#banner #swiper-slide1{
    background: #3566f2;
}
#banner #swiper-slide2{
    /*background: #fad64a;*/
    background: radial-gradient(#fff, #e2eaff);
}

#banner .arrow-left {
    position: absolute;
    left: 20px;
    top: 55%;
    margin-top: -35px;
    width: 70px;
    height: 70px;
    z-index:999;
}
#banner .arrow-right {
    position: absolute;
    right: 20px;
    top:55%;
    margin-top: -35px;
    width: 70px;
    height: 70px;
    z-index:999;
}
#banner .pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 5px;
    width: 100%;
    z-index:999;
}
#banner .swiper-pagination-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: white;
    margin: 0 3px;
    cursor: pointer;
    transform:scale(0.4,0.4);
    transition: all 0.3s ease-in-out;

}
#banner .swiper-pagination-bullet-active{
    transform:scale(1,1);
}
#banner #mainTheme{
    font: italic bold 120px/100% Arial;
    letter-spacing: -3px;
    padding-top: 160px;
    margin-bottom:20px;
    color:#fff;
    text-align:center;
    position:relative;
    display:inline-block;
}
#banner #mainTheme h1{
    font-family:Arial;
    color:#fff;
    padding-right:20px;
}

#banner #mainTheme span{
    font-size: 28px;
    position: absolute;
    right:-40px;
    top: 170px;
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background:#ff7200;
    color:#fff;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    font-style: italic;
    font-weight: normal;
    letter-spacing:2px;
    text-shadow:none;
}
#banner #swiper-slide1 p{

    margin-bottom: 10px;
    font: normal 34px/400% microsoft yahei;
    text-shadow: 1px 1px 0 #1A668E;
    text-align:center;
    letter-spacing:3px;
    color:#fff;
}
#banner #swiper-slide2 dt{
    font: normal 34px/200% arial,microsoft yahei;
    margin-top:180px;
    color:#4f72d6;
}
#banner #swiper-slide2 dd{
    margin-bottom: 10px;
    font: normal 22px/180% microsoft yahei;

    text-align:center;
    letter-spacing:3px;
    color:#4f72d6;
}
#banner #swiper-slide2 dd::before,#banner #swiper-slide2 dd::after {
    content:"鈽�";
}
#banner .subbtn{
    text-align:center;
}
#banner .button{
    font-size:16px;
    color:#fff;
    margin:0 7px;
    padding:10px 25px;
    border-radius:20px;
    text-decoration:none;
    border:1px solid #fff;
}
#banner .mainbtn{
    text-align:center;
    margin-top:50px;
}
#banner .mainbtn a{
    font-size:16px;
    color:#3566f2;
    margin:20px auto;
    padding:10px 25px;
    background: #fff;
    border-radius:20px;
    text-decoration:none;
}
